/*All*/
html {
  height: 100vh;
  background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  overflow-x: hidden;
}
/*games.html*/
/*game.html*/
.grid {
  width: 30.15vw;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
}
.block {
  min-height: 3vw;
  width: 3vw;
}
td.table-item {
  cursor: pointer;
}
div.block:hover {
  color: brown;
  background-color: brown;
  background: brown;
}
.sprite {
  min-width:100%;
  min-height:100%;
}
img.sprite:hover {
  opacity: 0.5;
}
