<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Senate Attendance</title>
</head>

<body>
  <!--Header-->
  <header>
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col justify-content-center align-items-center">
          <img src="img/tgif-logo-blue.jpg" class="rounded" alt="TGIF LOGO" width="100" height="75">
          <a href="mailto:info@tgif.net" class="float-right">info@tgif.net</a>
        </div>
      </div>
    </div>
  </header>
  <!--Barra de Navegacion-->
  <nav class="container navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="home.html">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Congress 113
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="senate-data.html">Senate</a>
            <a class="dropdown-item" href="house-data.html">House</a>
          </div>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Attendance
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Senate</a>
            <a class="dropdown-item" href="house-attendance.html">House</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Party Loyalty
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="senate-party.html">Senate</a>
            <a class="dropdown-item" href="house-party.html">House</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!--Cuerpo-->
  <section id="statistics" class="container">
    <div class="row">
      <div class="col">
        <h3>Attendance</h3>
        <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house. Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most cases, debates continue even if a majority is not present. <br>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the tiebreaking vote.
        </p>
      </div>
      <div class="col">
        <h3>Senate at a glance</h3>
        <table id="general" class="table">
          <thead>
            <tr>
              <th>Party</th>
              <th>N° of Reps</th>
              <th>% Voted w/ Party</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Democrats</td>
              <td>{{statistics.members.d.number}}</td>
              <td>{{statistics.members.d.pct_votes_w_party}}</td>
            </tr>
            <tr>
              <td>Republicans</td>
              <td>{{statistics.members.r.number}}</td>
              <td>{{statistics.members.r.pct_votes_w_party}}</td>
            </tr>
            <tr>
              <td>Independents</td>
              <td>{{statistics.members.i.number}}</td>
              <td>{{statistics.members.i.pct_votes_w_party}}</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>{{statistics.members.total_number}}</td>
              <td>{{statistics.members.avg_pct_votes_w_party}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Least Engaged (Bottom 10% Attendance)</h3>
        <table id="least_engaged" class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Party</th>
              <th>N° Missed Votes</th>
              <th>% Missed Votes</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="member in statistics.ranking.missed_most_votes">
              <td>{{member.last_name}}, {{member.first_name}} {{member.middle_name}}</td>
              <td>{{member.party}}</td>
              <td>{{member.missed_votes}}</td>
              <td>{{member.missed_votes_pct}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
        <h3>Most Engaged (Top 10% Attendance)</h3>
        <table id="most_engaged" class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Party</th>
              <th>N° Missed Votes</th>
              <th>% Missed Votes</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="member in statistics.ranking.missed_least_votes">
              <td>{{member.last_name}}, {{member.first_name}} {{member.middle_name}}</td>
              <td>{{member.party}}</td>
              <td>{{member.missed_votes}}</td>
              <td>{{member.missed_votes_pct}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <!--Footer-->
  <footer>
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <p>© 2016 TGIF | All ights Reserved</p>
      </div>
    </div>
  </footer>
  <!--JavaScript-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/pro-congress-113-senate.js"></script>
  <script src="js/statistics.js"></script>
  <script src="js/statsVue.js"></script>
</body></html>
