/*ESTILO DEL CUERPO DEL HTML*/
body {
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
  color: antiquewhite;
  letter-spacing: 3px;
  background-color: #033949;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*ESTILO DEL ENCABEZADO*/
header {
  width: 100%;
}
#nysl_logo1 {
  width: 10%;
  position: relative;
  float: left;
  z-index: 1;
}
#main_title {
  position: relative;
  float: left;
  width: 80%;
  text-align: center;
  font-size: 60px;
  font-family: fantasy;
  color: #A3FF15;
  z-index: 1;
  margin-bottom: 0px;
  margin-top: 30px;
}
#nysl_logo2 {
  width: 10%;
  position: relative;
  float: right;
  z-index: 1;
}
#banner_img {
  position: relative;
  width: 100%;
  height: 250px;
  top: 0px;
  z-index: -1;
}

/*ESTILO DE LA BARRA DE NAVEGACION*/
nav {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
  top: -15px;
  text-align: center;
}
nav>a.link {
  width: 150px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: antiquewhite;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: antiquewhite;
  background-color: #033949;
}
nav>a.link_current {
  color: black;
  border-color: black;
  background-color: #A3FF15;
}

/*ESTILO DE LA SECCION PRINCIPAL*/
section {
  padding: 0 20px 0 20px;
}
section>#subtitle {
  font-family: fantasy;
  text-align: center;
  color:  #A3FF15;
  font-size: 35px;
}
section>#schedule_title {
  text-align: center;
}
section>article {
  text-align: center;
}
section>article>p {
  text-align: center;
}
section>p a{
  text-align: center;
  color:antiquewhite; 
}

/*ESTILO DE LAS TABLAS*/
section>table {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  text-align: center;
}
section>table td, th {
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid black;
}
section iframe.google_maps{
  width: 400px;
  height: 300px;
  border: 0; 
}
section>table th {
  background-color: lightslategray;
}
section>table#game_locations {
  text-align: left; 
}
section>table#coord_data {
  margin-top: 0;
  padding-top: 0;
}
section>table#coord_data td a{
  border: 0px;
  color: antiquewhite;
}
section>h3 {
  padding: 0 0 0 50px;
}
section>h3#schedule_title {
  text-align: center;
  padding: 0;
}
section>p {
  text-align: center;
}

/*ESTILO DE LAS LISTAS*/
section>ol, section>ul {
  padding: 0 100px 0 100px;
}
section>ol>li>ol {
  padding: 0 0 0 50px;
}
section>ol>li>ol>li>ul {
  padding: 0 0 0 20px;
}
section>ol>li>ol.letter_ol {
  list-style-type: lower-latin;
}

/*ESTILO DE LOS FORMULARIOS*/
section>form {
  padding: 0 200px; 0 200px;
  text-align: center;
}
section>form>fieldset>p>label>input.text_input {
  width: 30%;
}
section>form>fieldset>p>label>input#street_address_field.text_input {
  width: 75%;
}
section>form>fieldset>p>label>input#parent_guardian_field.text_input {
  width: 75%;
}




