<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Salvo: Match</title>
  <!--Favicon-->
  <link rel="icon" href="./img/favicon.png">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!--Gridstack-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@0.5.5/dist/gridstack.min.css" />
  <!--Styles-->
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body class="bg-transparent">
  <section id="page-container" class="container-fluid">
    <nav class="navbar fixed-top navbar-light bg-dark p-0 justify-content-between">
      <img class="navbar-brand" src="img/logo_65.png" alt="logo">
      <form class="form-inline">
        <h1 class="mr-5 text-white">{{ player_info.username }}</h1>
        <h2 class="mr-5 text-white">vs</h2>
        <h1 class="mr-5 text-white">{{ enemy_info.username }}</h1>
        <button @click="leave" class="btn btn-outline-success my-2 my-sm-0 mr-2" type="button">Leave</button>
      </form>
    </nav>
    <article class="row text-center pt-5 mt-5">
      <div class="col text-white bg-success">
        <h1 v-if="player_info.game_state == 'WAIT_OPPONENT'">Waiting for opponent</h1>
        <h1 v-if="player_info.game_state == 'ENTER_SALVO'">Your turn</h1>
        <h1 v-if="player_info.game_state == 'WAIT_OPPONENT_SALVO'">Enemy's turn</h1>
        <h1 v-if="player_info.game_state == 'WIN'">You WON!</h1>
        <h1 v-if="player_info.game_state == 'DRAW'">Draw</h1>
        <h1 v-if="player_info.game_state == 'LOSE'">You Lost!</h1>
      </div>
    </article>
    <section class="row mt-2 pt-2 text-center">
      <!--Battleships-->
      <article class="col">
        <img src="img/battle_35.png" alt="battleships">
        <div class="grid">
          <div v-for="(block, index) in grid.player" class="block">
            <img v-bind:src="'img/' + block.status + '_sprite.png'" class="sprite" alt="block">
          </div>
        </div>
      </article>
      <!--Salvoes-->
      <article class="col">
        <img src="img/salvoes_35.png" alt="salvoes">
        <div class="grid">
          <div v-for="(block, index) in grid.enemy" class="block" @click="place_salvo(index)">
              <img v-bind:src="'img/' + block.status + '_sprite.png'" class="sprite" alt="block">
          </div>
        </div>
        <button v-if="player_info.game_state == 'ENTER_SALVO'" @click="launch_salvoes" class="btn btn-success mt-3 my-2 my-sm-0 mr-2" type="button">Launch attack</button>
        <button v-if="player_info.game_state == 'ENTER_SALVO'" @click="reset" class="btn btn-success mt-3 my-2 my-sm-0 mr-2" type="button">Reset</button>
        <button v-if="player_info.game_state == 'WAIT_OPPONENT_SALVO'" class="btn btn-success mt-3 my-2 my-sm-0 mr-2" type="button">Waiting for Enemy's Salvo</button>
      </article>
    </section>
    <!--Game History-->
    <section class="row text-center">
      <div class="col">
          <img src="img/history.png" alt="history">
          <table class="table table-dark">
            <thead>
              <tr>
                <th>Turn</th>
                <th>Player</th>
                <th>Salvoes fired</th>
                <th>Hits</th>
                <th>Sinks</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(turn, index) in game_stats">
                <td>{{ turn.turn }}</td>
                <td>{{ turn.player }}</td>
                <td>{{ turn.salvoes_fired }}</td>
                <td>{{ turn.hits }}</td>
                <td>{{ turn.sinks }}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <audio src="audio/tropical.mp3" type="audio/mpeg" autoplay loop />
    </section>
</section>
  <!--Javascript-->
  <!--Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!--Vue-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!--Vue Resource-->
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <!--Vue Router-->
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <!--Script-->
  <script src="./js/game.js"></script>
</body>
</html>