<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Salvo Game!</title>
  <!--Favicon-->
  <link rel="icon" href="./img/favicon.png">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!--Styles-->
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body class="bg-transparent">
  <section id="page-container" class="container-fluid">
  <nav class="navbar fixed-top navbar-light bg-dark p-0 justify-content-between">
    <img class="navbar-brand" src="img/logo_65.png" alt="logo">
    <form class="form-inline">
      <input v-model="accounts.username" :class="{'d-none': player_status == 'connected'}" class="form-control mr-sm-2" type="email" placeholder="Username" aria-label="Username">
      <input v-model="accounts.password" :class="{'d-none': player_status == 'connected'}" class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
      <button @click="login" :class="{'d-none': player_status == 'connected'}" class="btn btn-outline-success my-2 my-sm-0 mr-2" type="button">Login</button>
      <button @click="register" :class="{'d-none': player_status == 'connected'}" class="btn btn-outline-success my-2 my-sm-0 mr-2" type="button">Register</button>
      <h1 v-if="player_status == 'connected'" class="mr-5 text-white">{{ player_info.username }}</h4>
      <button @click="create_game" :class="{'d-none': player_status == 'disconnected'}" class="btn btn-outline-success my-2 my-sm-0 mr-2" type="button">Create Game</button>   
      <button @click="logout" :class="{'d-none': player_status == 'disconnected'}" class="btn btn-outline-success my-2 my-sm-0 mr-2" type="button">Logout</button>
    </form>
  </nav>
  <section class="row mt-5 pt-5 text-center">
    <!--Games List-->
    <article class="col">
      <img src="img/games_35.png" alt="games_list">
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Created</th>
            <th>Player 1</th>
            <th>vs</th>
            <th>Player 2</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(game, index) in games_list">
            <td>{{ game.created }}</td>

            <td v-if="player_status == 'connected' && player_info.id == game.player1.id">
                <button @click="continue_game(game.player2.gpid)" :class="{'d-none': player_status == 'disconnected'}" class="btn btn-outline-success my-2 my-sm-0 mr-2" type="button">Continue</button>
            </td>
            <td v-else>{{ game.player1.username }}</td>
            
            <td>vs</td>

            <td v-if="game.game_full && player_status == 'disconnected' || game.game_full && player_info.id != game.player2.id">{{ game.player2.username }}</td>
            <td v-else-if="game.game_full && player_status == 'connected' && game.player2.id == player_info.id">
                <button @click="continue_game(game.player2.gpid)" :class="{'d-none': player_status == 'disconnected'}" class="btn btn-outline-success my-2 my-sm-0 mr-2" type="button">Continue</button>
            </td>
            <td v-else-if="!game.game_full && player_status == 'connected' && game.player1.id != player_info.id">
                <button @click="join_game(game.id)" :class="{'d-none': player_status == 'disconnected'}" class="btn btn-outline-success my-2 my-sm-0 mr-2" type="button">Join</button>
            </td>
            <td v-else>-</td>


          </tr>
        </tbody>
      </table>
    </article>
    <!--Leaderboard-->
    <article class="col">
      <img src="img/leader_35.png" alt="leaderboard">
        <table class="table table-dark">
          <thead>
            <tr>
              <th>#</th>
              <th>Username</th>
              <th>Score</th>
              <th>Won</th>
              <th>Lost</th>
              <th>Tied</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(player, index) in players_list">
              <td>{{ index + 1 }}</td>
              <td>{{ player.username }}</td>
              <td>{{ player.total }}</td>
              <td>{{ player.won }}</td>
              <td>{{ player.lost }}</td>
              <td>{{ player.tied }}</td>
            </tr>
          </tbody>
        </table>
      </article>
      </section>
      <audio src="audio/tropical.mp3" type="audio/mpeg" autoplay loop />
    </section>
  <!--Javascript-->
  <!--Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!--Vue-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!--Vue Resource-->
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <!--Vue Router-->
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <!--Script-->
  <script src="./js/games.js"></script>
</body>
</html>