<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Salvo: Match</title>
  <!--Favicon-->
  <link rel="icon" href="./img/favicon.png">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!--Gridstack-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@0.5.5/dist/gridstack.min.css" />
  <!--Styles-->
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body class="bg-transparent">
  <section id="page-container" class="container-fluid">
    <nav class="navbar fixed-top navbar-light bg-dark p-0 justify-content-between">
      <img class="navbar-brand" src="img/logo_65.png" alt="logo">
      <form class="form-inline">
        <button @click="leave" class="btn btn-outline-success my-2 my-sm-0 mr-2" type="button">Leave</button>
      </form>
    </nav>
    <article class="row text-center pt-5 mt-5">
      <div class="col text-white bg-success">
        <h1>Place Ships!</h1>
      </div>
    </article>
    <section class="row mt-2 pt-2 text-center">
      <!--Battleships-->
      <article class="col">
        <img src="img/battle_35.png" alt="battleships">
        <div class="grid">
          <div v-for="(block, index) in grid" class="block" @click="place_ship(index)">
            <img v-bind:src="'img/' + block.status + '_sprite.png'" class="sprite" alt="block">
          </div>
        </div>
      </article>
      <!--Salvoes-->
      <article class="col">
        <img src="img/list_35.png" alt="available">
        <table class="table table-dark">
            <thead>
                <tr>
                <th>Name</th>
                <th>Lenght</th>
                <th>Aligned</th>
                <th>Placed</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(ship, index) in ships">
                <td>{{ ship.name }}</td>
                <td><img v-for="block in ship.length" src="img/ship_sprite.png" alt="block"></td>
                <td @click.stop="change_aligned(index)" class="table-item">{{ ship.aligned }}</td>
                <td>
                    <img v-if="ship.placed" src="img/green_check.png" alt="check">
                    <img v-else src="img/red_cross.png" alt="cross">
                </td>
                </tr>
            </tbody>
        </table>
        <button @click="save_ships" class="btn btn-success">Save Ships</button>
        <button @click="reset_ships" class="btn btn-success">Reset</button>
      </article>
    </section>
    <audio src="audio/tropical.mp3" type="audio/mpeg" autoplay loop/>

</section>
  <!--Javascript-->
  <!--Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!--Vue-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!--Vue Resource-->
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <!--Vue Router-->
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <!--Script-->
  <script src="./js/placement.js"></script>
</body>
</html>